<nav>
  <div>
    <a href="/">Media App</a>
    <ul>
      <li><a href="<%= movies_path %>">Movies</a></li>
      <li><a href="<%= series_index_path %>">Series</a></li> <!-- Asegúrate de usar series_index_path -->
      <li><a href="<%= documentary_films_path %>">Documentary Films</a></li> <!-- Cambia a documentary_films_path -->
    </ul>

  </div>
</nav>
